.nav{
margin: 0px auto;
display: flex;
flex-direction: row;
width:100%;
align-items: center;
justify-content: space-between;
background-color: darkolivegreen;
padding: 2rem;
font-size: 3vh;
}
.nav > .logo{
justify-content: flex-start;
transition: color .10s ease-in;
cursor: pointer;
}
.nav > .logo:hover{
  color:tomato;
}
.nav > .links{
justify-content: flex-end;
}
.links ul{
  list-style-type: none;
}
.links li{
  display: inline-block;
  margin-left: 5rem;
  transition: color .10s ease-in;
  cursor: pointer;
}
.links li:hover{
  color:tomato;
} 
